.contact  {
    background-color: var(--background);
    padding: 5rem 0;
    overflow: hidden;
}

.contact .container {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.contact-text > p{
    font-size: 18px;
}

.contact > .container > .left{
    width: 500px;
}


@media screen and (max-width: 940px) {
    
    .contact .container{
        flex-direction: column;
    }


}
