.graphs .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
}

.graphs .left {
    padding: 1rem;
}

.graphs h1 {
    padding: 1rem 0;
}

.graphs .input-container {
    padding: 1rem 0;
}

.graphs .right {
    padding: 1rem;
}

.graphs .img-container {
    width: 100%;
    display: flex;
}

.graphs img {
    max-width: 100%;
    margin: auto;
}

@media screen and (max-width: 940px) {
    .graphs .container {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
    .graph .left{
        width: 100px;
    }
}











