.testimonials {
    width: 100%;
    padding: 8rem 0;
    background-color: var(--background);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.testimonials .container {
    display: flex;
    align-items: center;
}

.swiper {
    width: 35rem;
    height: 20rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.card-interior{
    padding: 30px;
}

.writer{
    color: var(--primary);
}

@media screen and (max-width: 940px) {
    .swiper{
        width: 20rem;
        height: 25rem;
    }
}